@media (max-width: 600px){

    body::before{
        clip-path: polygon(0 0 , 0 120px , 100% 200px , 100% 0);
    }

    body::after{
        display: none;
    }

    main{
        display: block;
    }

    aside{
        width: 100%;

        flex-direction: column;
        align-items: flex-end;

        transform: translate(0 , 5%);
    }

    #imgAmerica{
        width: 150px;
        height: 120px;
    }

    h1{
        color: white;
        font-size: 35px;

        transform: translate(-85% , -180%);
    }

    #imgCar{
        position: absolute;
        top: 0;
        left: 0;
    
        width: 350px;
        height: 300px;
    }

    form{
        left: 50%;
        transform: translate(-50% , 40%);
        
        width: 90%;
        height: 350px;
    }

    .dadosPessoais , .dadosVeiculo{
        position: relative;
        left: 50%;
        transform: translate(-50% , 0);
    }

    .dadosPessoais div{    
        margin: 0 8px;
    }

    .p{
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        
        margin-top: 15px;
    }

    input{
        width: 130px;
        font-size: 15;
    }

    .dadosPessoais{
        margin: 20px 0;
    }

    label{    
        margin: 3px;
    }

    .contentForm{
        width: 100%;
        height: 100%;
    }

    .dadosVeiculo input{
        margin: 5px 8px;
    }

    .dadosVeiculo p{
        margin: 10px 0;
    }

    button{
        position: absolute;
        right: 10px;
        bottom: 20px;
    
        width: 130px;
        height: 50px;
    
        background-color: #ff0000f4;
        color: white;
        font-size: 15px;
    }
}